.husky/_
.DS_Store
.secrets/
node_modules
.worktrees
.sst
.env
.env.local
.idea/*
!.idea/gradle.xml
!.idea/.run
.idea/*.iml
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
# use vscode workspaces with peacock to have many vscodes with the same repo:
*.code-workspace
.codex
*~
playground
tmp
dist
ts-dist
storybook-static
.turbo
**/.serena
.serena/
**/.omo
.omo/
/result
refs
Session.vim
/cssltdcode.json
a.out
target
.scripts
.direnv/
packages/cssltd-jetbrains/build-tasks/.gradle/

# Local dev files
cssltdcode-dev
.cssltd-dev/
UPCOMING_CHANGELOG.md
logs/
*.bun-build

# Telemetry ID
telemetry-id
tsconfig.tsbuildinfo

# Cssltd
.cssltd/.gitignore
.cssltd/package.json
.cssltd/package-lock.json
.cssltd/pnpm-lock.yaml
.cssltd/bun.lock
.cssltd/yarn.lock
.cssltd/node_modules
.cssltd/plans/*upstream-merge-report-*.md
.cssltdcode/.gitignore
.cssltdcode/package.json
.cssltdcode/package-lock.json
.cssltdcode/pnpm-lock.yaml
.cssltdcode/bun.lock
.cssltdcode/yarn.lock
.cssltdcode/node_modules

# Test Artifacts
packages/app/.artifacts/
packages/cssltdcode/.artifacts/
.claude/settings.local.json
.claude/settings.local.json.tmp.*
